@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MarkPro';
  src: url('https://studiovoila.com/_nuxt/MarkPro-Medium.b3d53906.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MarkPro';
  src: url('https://studiovoila.com/_nuxt/MarkPro-Bold.405f2505.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MarkPro';
  src: url('https://studiovoila.com/_nuxt/MarkPro-Heavy.192477bd.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MarkPro';
  src: url('https://studiovoila.com/_nuxt/MarkPro-Black.7207860d.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

body {
  @apply bg-bg text-text font-sans;
  -webkit-font-smoothing: antialiased;
  overflow-x: clip;
  max-width: 100vw;
}

.site-container {
  margin-inline: auto;
  width: calc(100% - 40px);
  max-width: 1680px;
}

@media (min-width: 768px) {
  .site-container {
    width: calc(100% - 60px);
  }
}

@media (min-width: 1280px) {
  .site-container {
    width: calc(100% - 120px);
  }
}

.hero-title {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -0.03em;
  line-height: 0.85;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 11.111vw;
  }
}

@media (min-width: 1660px) {
  .hero-title {
    font-size: 180px;
  }
}

.section-title {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -0.03em;
  line-height: 0.85;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 140px;
  }
}

.projectGridFilter li {
  cursor: pointer;
  transition: color 0.4s;
}

.projectGridFilter li:not(.on) {
  color: #949ea9;
}

.projectGridFilter li:hover {
  color: #28282e;
}

.card-reveal,
.services-test-reveal {
  transform-origin: center center;
}

a .hireOurTeamTitle {
  transition: 0.4s cubic-bezier(0.25, 0, 0, 1);
  z-index: 10;
}

a:hover .hireOurTeamTitle {
  transform: translateX(50px);
}

a:hover .hireOurTeamArrow {
  animation: arrowIn 0.4s cubic-bezier(0.25, 0, 0, 1) forwards;
}

a .hireOurTeamArrow {
  animation: arrowOut 0.4s cubic-bezier(0.25, 0, 0, 1) forwards;
}

@keyframes arrowIn {
  0% {
    transform: none;
  }
  50% {
    transform: translate(-50px) scale(0.5);
  }
  50.01% {
    transform: translate(-120px) scale(0.5);
  }
  100% {
    transform: translate(-170px) scale(1);
  }
}

@keyframes arrowOut {
  100% {
    transform: none;
  }
  50.01% {
    transform: translate(-50px) scale(0.5);
  }
  50% {
    transform: translate(-120px) scale(0.5);
  }
  0% {
    transform: translate(-170px) scale(1);
  }
}
